h1 {font-size:50px;

   
}
head{
    font-family: 'Righteous', cursive;
}
span{
    color: #ff7f50;

}
.flex-container{
    display: flex;

    
    

}
.root-clas{
    width: 50%;
}


  p{
      text-align: justify;
      padding: 10px;
  }  
a{
    color:white;
    text-decoration: none;
    padding: 35px;
}
button{
    background-color: chocolate;
    position: flex;
}
.last-part{
    display: flex;
    text-align: justify;
}
.seser-pra{
    
    width: 50%;
}
footer{
    text-align: center;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    

}
#developer-class{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}